:root {
    font-size: 20px;

}
*body {
    box-sizing: border-box;
    margin: 0;
}

main {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color:rgb(172, 172, 172);
    width: 100%;
}
.container {
    margin: auto;
    position: relative;
    border-bottom: 2px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}

span {
    position: absolute ;
    top: 0;
    left: 0;
}
.square {
    border: 2px dashed black;
    background-color: darkgray;
    height: 100px;
    width: 100px;
}

.ex--1 {
    background-color: rgba(169, 169, 169, 0);
    transition: background-color 2s ;
}
.ex--1:hover {
    background-color:darkgray;
}


.ex--2 {
    transition: width 3s;
}
.ex--2:hover {
    width: 100%;
}
.ex--3 {
    transition: border-radius 0.5s;
}
.ex--3:hover {
    border-radius: 50px;
}
.ex--4 {
    transition: opacity 2s;
}
.ex--4:hover {
    opacity: 0;
}
.ex--5 {
    transition: all .2s ease-in-out;    
}
.ex--5:hover {
    transform: scale(1.1);
}
.ex--6 {
    height: 100%;
}

.img--6:hover {
    filter: grayscale();
}
.img--7 {
    transition: border-radius 2s, filter 2s;
}
.img--7:hover {
    border-radius: 25px;
    filter:grayscale();
}
.img--8 {
    width: 250px;
    transition: all .2s ease-out, border-radius .2s, filter .3s;
}
.img--8:hover {
    transform: scale(1.2);
    border-radius: 25px;
    filter: grayscale();
}
.ex--9 i {
    font-size: 100px;
    animation: rotation 1s infinite linear;
}
@keyframes rotation  {
    from { transform: rotate(0deg);
    }
    to { transform: rotate(360deg);
    }
}
